<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ tareas_pendientes }}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <!-- selected -->
  <ul class="filters">
    <li (click)="setFilter(filtro)" *ngFor="let filtro of filtros">
      <a [class.selected]="filtro === active_filtro">{{ filtro }}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="borrarCompletados()">Clear completed</button>
</footer>